@import url('https://fonts.googleapis.com/css2?family=Liter&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shanti&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto Mono", monospace;
}

body {
    background: linear-gradient(0deg,rgba(3, 0, 0, 1) 4%, rgba(7, 30, 51, 1) 33%, rgba(0, 75, 122, 1) 95%);
    background-size: cover;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5vw;
    background-color: transparent;
}


.logo {
    font-size: 1.2rem;
    font-weight: 800;
    color: #ececec;
    text-decoration: none;
    position: absolute;
    left: 5%;
    top: 15px;
}

.nav-list {
    display: flex;
    position: absolute;
    right: 5%;
    top: 15px;
}

.nav-list a {
    text-decoration: none;
    color: #ececec;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 2rem;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}

.nav-list a:hover {
    border-bottom: 2px solid #ececec;
}

.abrir-menu,
.cerrar-menu {
    display: none;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    color: #ececec;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 15px;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    color: #ececec;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0.5rem;
}

section {
    padding: 0 8%;
}

.hero {
    padding: 6rem;
}

.hero-text h5 {
    top: 50%;
    font-size: 14px;
    font-weight: 900;
    padding: 1rem;
}

.hero-text h1 {
    font-size: clamp(40px, 5vw, 100px);
    line-height: 1;
    margin: 0 0 10px;
}

.console-container {
    font-size: 3em;
    padding-left: 1rem;
    text-align: start;
    height: 200px;
    width: 100%;
    max-width: 600px;
    position: relative;
    display: block;
    color: rgb(255, 255, 255);
    margin-left: 0;
    margin-right: auto;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 5px;
}

.hidden {
    visibility: hidden;
}

.hero-text p {
    display: flex;
    max-width: 48rem;
    font-size: 86%;
    font-weight: 400;
    color: #ececec;
    padding-left: 1rem;
    text-align: left;
    text-wrap: balance;
}

.hero-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    
}

.button-wrapper {
    padding-left: 1rem;
}


.button-wrapper a {
    display: inline-block;
    background-color: #022c2c8c;
    border: none;
    outline: none;
    position: relative;
    z-index: 0;
    padding: 11px 38px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 1s ease;
    color: #ececec;
    text-decoration: none;
}

.button-wrapper a::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #02070ca2;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.button-wrapper a::before {
    content: "";
    background: linear-gradient(
        45deg,
        rgb(4, 26, 54), rgba(7, 99, 185, 0.986), rgb(11, 42, 110), rgb(8, 40, 128),
        rgb(9, 8, 94), rgb(11, 76, 129), rgb(2, 11, 39)
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 39s linear infinite;
    transition: opacity .7s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.button-wrapper a:hover {
    filter: brightness(1.9) drop-shadow(0 0 6px #041f77b9);;
}

.button-wrapper a:hover::before {
    opacity: 1;
}

.button-wrapper a:active::after {
    background-color: transparent;
}

.button-wrapper a:active {
    color: #ececec;
    font-weight: bold;
}

.icons-wrapper {
    display: flex;
    gap: 1.4rem;
    align-items: center;
    color: #ececec;
    margin-left: 0; 
    padding-left: 1.8rem;
}

.icons-wrapper i {
    font-size: 1.3rem;
    color: #ececec;
    transition: color 0.7s ease;
}

.icons-wrapper i:hover {
    filter: brightness(63.5) drop-shadow(0 0 6px #ffffff);
}

.main{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.main-title{
    color: #ececec;
    font-weight: 900;
    font-size: 6rem; /* aumentamos el tamaño */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    padding-bottom: 9rem;
}






@media screen and (max-width: 710px) {
    header {
        padding: 1rem 2rem;
    }

    .logo {
        font-size: 1.2rem;
        left: 10px;
        top: 10px;
    }

    .nav-list {
        display: none;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .logo {
        display: none;
    }

    .abrir-menu,
    .cerrar-menu {
        display: flex;
        border: 0;
        font-size: 1.5rem;
        color: #ececec;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        right: 60px;
        top: 10px;
    }

    .nav {
        display: none;
    }

    .nav {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        background-color: #01090ac0;
        padding: 3rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.719);
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 2rem;
        gap: 1rem;
        padding: 3rem;
    }

    .nav-list li a {
        color: white;
        font-size: 1rem;
        padding-top: 2rem;
    }
}

@media (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 50px;
    }

    section {
        padding: 0 5%;
    }

    .nav {
        width: 100%;
        max-width: 300px;
        padding: 2rem;
    }

    .nav-list {
        align-items: center;
    }

    .scroll-down {
        right: 50%;
        transform: translateX(50%);
    }
}


